<div class="detail-main-container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{product.category}}</h6>
            <p class="card-text">{{product.description}}</p>
            <h6 class="card-subtitle mb-2 text-body-secondary">${{product.price}}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{product.code}}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary" id="product-stock">{{product.stock}}</h6>
            <div class="card-buttons">
                <p id="product-quantity">0</p>
                <div class="card-buttons-inner">
                    <button class="btn btn-outline-primary" disabled="true" id="remove-button">Remove</button>
                    <button class="btn btn-primary" disabled="true" id="add-to-cart-button" onclick="addToCart('{{product._id}}', '{{product.cartId}}')">Add to cart</button>
                    <button class="btn btn-outline-primary" disabled="true" id="add-button">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            {{#each product.thumbnails}}
            <div class="carousel-item active">
                <img src="{{this}}" class="d-block w-100" alt="carrousel-item">
            </div>
            {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<script src="/static/js/productDetail.js"></script>
<link rel="stylesheet" href="/static/css/productDetail.css"/>