<ul class="list-group">
  <li class="list-group-item">First name: {{data.user.first_name}}</li>
  <li class="list-group-item">Last name: {{data.user.last_name}}</li>
  <li class="list-group-item">Email: {{data.user.email}}</li>
  <li class="list-group-item">Age: {{data.user.age}}</li>
  <li class="list-group-item">Role: {{data.user.role}}</li>
</ul>