<ul class="list-group">
  <li class="list-group-item">First name: {{data.first_name}}</li>
  <li class="list-group-item">Last name: {{data.last_name}}</li>
  <li class="list-group-item">Email: {{data.email}}</li>
  <li class="list-group-item">Age: {{data.age}}</li>
  <li class="list-group-item">Role: {{data.role}}</li>
</ul>